# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

git rm -r --cached .idea
git rm -r --cached target

# Игнорировать папку .idea
.idea/

# Игнорировать папку target
target/

git add .gitignore
git commit -m "Удалены папки target и .idea из репозитория и добавлены в .gitignore"